architecture: replication
fullnameOverride: redis

auth:
  enabled: true
  password: "redis"

sentinel:
  enabled: true
  masterSet: mymaster
  downAfterMilliseconds: 5000
  failoverTimeout: 10000
  service:
    type: ClusterIP

master:
  persistence:
    enabled: true
    storageClass: hostpath
    size: 8Gi
  resources:
    requests:
      memory: 1Gi
    limits:
      memory: 2Gi
  service:
    type: ClusterIP

replica:
  replicaCount: 3
  persistence:
    enabled: true
    storageClass: hostpath
    size: 2Gi
  resources:
    requests:
      memory: 256Mi
    limits:
      memory: 512Mi
  service:
    type: ClusterIP

podAntiAffinityPreset: soft

global:
  imageRegistry: docker.io
