spring:
  security:
    oauth2:
      client:
        registration:
          google:
            client-id: ${GOOGLE_CLIENT_ID}
            client-secret: ${GOOGLE_CLIENT_SECRET}
            scope:
              - email
              - profile
          kakao:
            client-id: ${KAKAO_CLIENT_ID}
            client-secret: ${KAKAO_CLIENT_SECRET}
            scope:
              - profile_nickname
              - account_email
            provider: kakao
            redirect-uri: "{baseUrl}/login/oauth2/code/kakao"
        provider:
          kakao:
            authorization-uri: https://kauth.kakao.com/oauth/authorize
            token-uri: https://kauth.kakao.com/oauth/token
            user-info-uri: https://kapi.kakao.com/v2/user/me
            user-name-attribute: id

  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  amadeus:
    api:
      client-id: ${AMADEUS_CLIENT_ID}
      client-secret: ${AMADEUS_CLIENT_SECRET}

  elasticsearch:
    uris: http://elastic-es-http.data.svc.cluster.local:9200
    username: ${ES_USERNAME}
    password: ${ES_PASSWORD}

  data:
    redis:
      password: ${SPRING_DATA_REDIS_PASSWORD}
      sentinel:
        password: ${SPRING_DATA_REDIS_PASSWORD}
        master: mymaster
        nodes:
          - redis-node-0.redis-headless.data.svc.cluster.local:26379
          - redis-node-1.redis-headless.data.svc.cluster.local:26379
          - redis-node-2.redis-headless.data.svc.cluster.local:26379

jwt:
  secret: ${JWT_SECRET}
  expiration: ${JWT_EXPIRATION}
  refreshExpiration: ${JWT_REFRESH_EXPIRATION}

server:
  port: 8080