apiVersion: elasticsearch.k8s.elastic.co/v1
kind: Elasticsearch
metadata:
  name: elastic
  namespace: data
spec:
  version: 8.13.4
  http:
    tls:
      selfSignedCertificate:
        disabled: true
  nodeSets:
    - name: default
      count: 1
      config:
        node.roles: ["master", "data", "ingest"]
        http.cors.enabled: true
        http.cors.allow-origin: "http://localhost:5601"
        indices.fielddata.cache.size: "65%"
        bootstrap.memory_lock: true
      podTemplate:
        spec:
          containers:
            - name: elasticsearch
              resources:
                requests:
                  cpu: 100m
                  memory: 1Gi
                limits:
                  memory: 2Gi
          initContainers:
            - name: increase-vm-max-map
              securityContext:
                privileged: true
              command:
                - sh
                - -c
                - |
                  sysctl -w vm.max_map_count=262144 || true
      volumeClaimTemplates:
        - metadata:
            name: elasticsearch-data
          spec:
            accessModes: ["ReadWriteOnce"]
            resources:
              requests:
                storage: 1Gi
            storageClassName: hostpath
