apiVersion: kibana.k8s.elastic.co/v1
kind: Kibana
metadata:
  name: kibana
  namespace: data
spec:
  version: 8.13.4
  count: 1
  elasticsearchRef:
    name: elastic
  http:
    service:
      spec:
        type: ClusterIP
  podTemplate:
    spec:
      containers:
        - name: kibana
          env:
            - name: NODE_OPTIONS
              value: "--max-old-space-size=1024"   # 최소 1Gi 권장
          resources:
            requests:
              cpu: 200m
              memory: 1Gi
            limits:
              memory: 2Gi